html, body
{
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
}
#siteWrapper
{
	width: 100%;
	height: 100%;
	
	background: url("images/indexbg.jpg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#contentWrapper
{
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	/*background-color: rgba(0, 0, 0, 0.7);*/
}
.content
{
	opacity: 0;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 40%;
	text-align: center;
	color: white;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	/*background-color: rgba(0, 0, 0, 0.7);*/
}
#room
{
	display: none;
}
#feature
{
	display: none;
}
#roomTable
{
	height: 250px;
	overflow-y: scroll;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 15px;
}
#roomTable div
{
	border-bottom: solid 1px white;
	text-align: left;
	line-height: 35px;
}
#roomTable a
{
	color: white;
}
#roomTable a:hover
{
	text-decoration: none;
}
#logo
{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
#navWrapper
{
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 630px;
	height: 150px;
	text-align: center;
	z-index: 50;
}
.navCircle
{
	width: 180px;
	height: 120px;
	background: url("images/cloud.png") no-repeat;
	background-size: 180px 120px;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	line-height: 120px;
	font-size: 20px;
	opacity: 0;
}
.navCircle a
{
	color: white;
	text-decoration: none;
}
.navCircle a:hover
{
	text-decoration: none;
	animation: shake 1s ease-in-out;
}
@keyframes shake {
  0% {transform: translateX(0);}
  20% {transform: translateX(-10px);}
  40% {transform: translateX(10px);}
  60% {transform: translateX(-10px);}
  80% {transform: translateX(10px);}
  100% {transform: translateX(0);}
}
.warning
{
	color: red;
}
#eraser
{
	position: absolute;
	bottom: 5%;
	right: 10%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
}
