html, body
{
	height: 100%;
	width: 100%;
	margin: 0;
}
.site-wrapper
{
	width: 100%;
	height: 100%;
	margin: 0;
	
	background: url("images/indexbg.jpg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.roomForm
{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.info
{
	position: absolute;
	top: 50%;
	left: 60%;
	transform: translateX(-50%) translateY(-50%);
}
.notice
{
	position: absolute;
	top: 20%;
	left: 70%;
}
#roomList
{
	position: absolute;
	top: -75%;
	left: 10%;
	height: 75%;
	width: 450px;
	overflow: hidden;
	
	background: url("images/parchpaper2.png") no-repeat;
	background-size: 450px auto;
}
#roomTable
{
	position: absolute;
	left: 0;
	right: -20px;
	overflow-y: scroll;
	height: 55%;
	font-family: handWriting;
	font-size: 48px;
	margin-top: 50px;
	line-height: 40px;
	text-align: center;
}
.separateLine
{
	position: relative;
	left: 30%;
	transform: translateX(-50%) translateY(-50%);
	margin-top: 20px;
}
#roomTable a
{
	color: black;
}
#roomTable a:hover
{
	color: red;
	text-decoration: none;
}
@font-face
{
	font-family: handWriting;
	src: url(font/VTCAllSkratchedUpOne.ttf);
}
#roomListTag
{
	position: absolute;
	top: 0;
	left: 15%;
	animation-name: toggle;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}
@keyframes toggle
{
	0% {top: 0px;}
	25% (top: 5px;)
	50% {top: 10px;}
	75% {top: 5px;}
	100% {top: 0px;}
}
.lowerBanner
{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	
	text-align: right;
	font-weight: bold;
	color: white;
}
.warning
{
	color: red;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
}