html, body
{
	height: 100%;
	width: 100%;
	margin: 0;
}
.site-wrapper
{
	width: 100%;
	height: 100%;
	margin: 0;
	
	background: url("images/indexbg.jpg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.roomForm
{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.info
{
	position: absolute;
	top: 50%;
	left: 60%;
	transform: translateX(-50%) translateY(-50%);
}
.notice
{
	position: absolute;
	top: 20%;
	left: 70%;
}
.roomList
{
	position: absolute;
	top: 100px;
	left: 15%;
	background-color: white;
	height: 60%;
	width: 200px;
	overflow-y: scroll;
}
.roomListTag
{
	position: absolute;
	top: 0;
	left: 15%;
	animation-name: toggle;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}
@keyframes toggle
{
	0% {top: 0px;}
	25% (top: 5px;)
	50% {top: 10px;}
	75% {top: 5px;}
	100% {top: 0px;}
}
.lowerBanner
{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	
	text-align: right;
	font-weight: bold;
	color: white;
}
