.completed {
	color: #d9d9d9;
	text-decoration: line-through;
}


.icon{display: inline-block;}
.icon,
.icon + span{vertical-align: middle;}

.icon.facebook{
  background: url(../img/icon-facebook.png) no-repeat 0 0;
  height: 29px;
  width: 38px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}


#toTop{
	position: fixed;
	bottom: 95px;
	right: 40px;
	cursor: pointer;
	display: none;
}
#toTop .fa {margin-right: 5px;}

/* Customize */
#banner{
	width: 100%;
	height: 60px;
	background-color: #00796B;
}

.container{
	width: 50%;
	margin: 0 auto;
}

#adminLogin
{
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	height: 150px;
	background-color: rgba(255, 255, 255, 0.8);
	text-align:left;
}

#newNotification
{
	position: fixed;
	top: 20%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 30%;
	height: 150px;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 15px;
	text-align: center;
	font-size: 20px;
	color: white;
	z-index: 100;
}
#newNotification p
{
	line-height: 150px;
}