<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
   	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">

	<title>Question Room</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	
	<!-- Custom styles for this template -->
	<link href="css/cover.css" rel="stylesheet">
</head>
<body ng-controller="controller">
	<div id="siteWrapper">
		<div id="contentWrapper">
			<div class="content" id="home">
				Feel bored in class? <br />
				Enter a room name to join disucssion
				<br /><br />
				<form name="form" ng-submit="join()" role="search">
					<input type="text" name="input" class="form-control"
						ng-model="example.text"
						ng-pattern="example.word" required
						ng-trim="false"
						autofocus
						aria-describedby="sizing-addon1"
						placeholder="Enter room name">
				</form>
				<div class="warning" role="alert" ng-show="form.input.$error.required">
					Room name is required!
				</div>
				<div class="warning" role="alert" ng-show="form.input.$error.pattern">
					No symbols are allowed!
				</div>
				<br />
				<div align="right">
					<button type="button" class="btn btn-success btn-primary btn-lg" 
						ng-disabled="form.input.$error.required || form.input.$error.pattern"
						ng-click="join()">JOIN</button>
					<button type="button" class="btn btn-warning btn-primary btn-lg" style="margin-left:20px;" onclick="showRoomList()">Take a look at existing room ?</button>
				</div>
			</div>
			<div class="content" id="room" ng-controller="roomController" scroll data-framework="firebase">
				Click one to join one of the current discussion.
				<div id="roomTable">
					<table id="roomTableContent" width="100%">
						<tr>
							<th width="40%">Room Name</th>
							<th width="30%">Type</th>
							<th width="30%">Questions</th>
						</tr>
					</table>
				</div>
			</div>
			<div class="content" id="searchQuestion">
				<div>
					<input style="color:black" placeholder="Search for a question." type="text" ng-model="globalSearchValue"></input>
					<button class="btn btn-default" ng-click="globalSearch()">Search</button>
					<p style="text-align:center;color:red" ng-show="noResult">There are no matching results</p>
					<div id="searchResultWrapper">
					<table id="searchResult" width="100%">
						<tr>
							<th width="30%">Room</th>
							<th width="70%">Question</th>
						</tr>
					</table>
				</div>
					
				</div>
			</div>
			
		</div>
		<div id="logo">
			<img id="logo" src="css/images/logo4.png" width="300px" />
		</div>
		
		<div id="navWrapper">
			<div>
				<div class="navCircle">
					<a href="#" id="navHome" class="navOption">HOME</a>
				</div>
				<div class="navCircle">
					<a href="#" id="navRoom" class="navOption">ROOM</a>
				</div>
				<div class="navCircle">
					<a href="#" id="navSearch" class="navOption">SEARCH</a>
				</div>
			</div>
		</div>
	</div>
	<div id="eraser">
		<img src="css/images/eraser.png" width="120px" height="120px" />
	</div>
	
	
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/lib/jquery.min.js"></script>
	<script src="js/lib/bootstrap.min.js"></script>
	<!-- 1.4.2 -->
	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/angularfire.js"></script>
	<script src="js/lib/firebase.js"></script>
	<script>
		var app = angular.module('app', ["firebase"]);
		app.controller('controller', ['$scope', '$location', '$window', function($scope, $location, $window) {
			$scope.example = {
					text: '',
					word: /^\s*\w*\s*$/
			};

			$scope.join = function () {
				$window.location.href = 'question.html#/' + $scope.example.text;
			}
			
			$scope.noResult = false;
			var url = "https://flickering-torch-4928.firebaseIO.com";
			var echoRef = new Firebase(url);
			
			// global search
			$scope.globalSearch = function(){
				// clear searched result before each search
				$scope.noResult = false;
				document.getElementById("searchResult").innerHTML = "";
				document.getElementById("searchResult").innerHTML = '<tr><th width="30%">Room</th><th width="70%">Question</th></tr>';
				var resultCount = 0;
				if ($scope.globalSearchValue.length == 0)
					return;
				echoRef.once('value', function(data){
					data.forEach(function(room){
						room.child('questions').forEach(function(question){
							if (question.child('wholeMsg').val().match($scope.globalSearchValue)){
								var table = document.getElementById("searchResult");
								var element = document.createElement("tr");
								var roomName = '<a href="question.html#/' + room.key() + '">' + (room.key().length > 10?room.key().substring(0, 9) + "...":room.key()) + '</a>';
								element.innerHTML += '<td>' + roomName + '</td>';
								element.innerHTML += "<td>" + (question.child('wholeMsg').val().length > 30 ? question.child('wholeMsg').val().substring(0, 29) + "...":question.child('wholeMsg').val()) + "</td>";
								table.appendChild(element);
								resultCount++;
							}
						});
					});
					// error message for empty result
					if (resultCount == 0)
						$scope.noResult = true;
				});
			}
			
		}]);
		
		
		// room list
		app.controller('roomController',['$scope','$firebaseArray',function($scope,$firebaseArray)
		{
			var url = "https://flickering-torch-4928.firebaseIO.com";
			var echoRef = new Firebase(url);
			echoRef.once('value', function(data){
				var table = document.getElementById("roomTableContent");
				var i = 0;
				data.forEach(function(room){
					// generate room list content
					var element = document.createElement("tr");
					// hot room if questions over 30
					if (room.child('questions').numChildren() >= 30)
						element.innerHTML = '<td><img src="css/images/hotIcon.png" width=\"30px\" /><a href="question.html#/'+room.key()+'">'+(room.key().length > 20 ? room.key().substring(0, 19) + "...": room.key())+'</a></td>';
					else
						element.innerHTML = '<td><a href="question.html#/'+room.key()+'">'+(room.key().length > 20 ? room.key().substring(0, 19) + "...": room.key())+'</a></td>';
					// check private room
					var image = (room.child('password').val()!=null&&room.child('password').val()!=''?'<img src=\"css/images/lockRoom.png\" height=\"30px\">':'<img src=\"css/images/unlockRoom.png\" height=\"30px\">');
					element.innerHTML += '<td>' + image + '</td>';
					element.innerHTML += "<td>" + room.child('questions').numChildren() + "</td>";
					table.appendChild(element);
					i++;
				});
			});
			
			
		}]);
	</script>
	<script>
		$(function(){
			// initial animation
			$(window).on("load", function(){
				setTimeout(function(){
					$('#contentWrapper').animate({height: '75%'}, 1000);
					$('#logo').animate({left: '15%'}, 1000);
					$('.navCircle').animate({opacity: '1'}, 1000);
				}, 1000);
				setTimeout(function(){
					$('#home').animate({opacity: '1'}, 1000);;
				}, 2000);
			});
			
			// navigation
			$('.navOption').on('click', function(){
				var trigger = this.id;
				setTimeout(function(){
					$('.content').animate({opacity: '0'}, 400);
					setTimeout(function(){
						$('.content').css('display', 'none');
					}, 400);
				}, 1000);
				$('#eraser').animate({bottom: '40%'}, 300);
				$('#eraser').animate({right: '60%'}, 300);
				$('#eraser img').attr('width', "150px");
				$('#eraser img').attr('height', "150px");
				$('#eraser img').attr('src', "css/images/eraserCleaning.png");
				$('#eraser').animate({right: '15%', bottom: '30%'}, 300);
				$('#eraser').animate({right: '60%', bottom: '20%'}, 300);
				$('#eraser').animate({right: '10%', bottom: '10%'}, 400);
				setTimeout(function(){
					$('#eraser').animate({right: '10%', bottom: '5%'}, 300);
					$('#eraser img').attr('width', "120px");
					$('#eraser img').attr('height', "120px");
					$('#eraser img').attr('src', "css/images/eraser.png");
				}, 1600);
				setTimeout(function(){
					switch (trigger)
					{
					case "navHome": 
						$('#home').css('display', 'block');
						$('#home').animate({opacity: '1'}, 500);
						break;
					case "navRoom":
						$('#room').css('display', 'block');
						$('#room').animate({opacity: '1'}, 500);
						break;
					case "navSearch":
						$('#searchQuestion').css('display', 'block');
						$('#searchQuestion').animate({opacity: '1'}, 500);
						break;
					}
				}, 2200);
				
			});
		});
	</script>
	
</body>
</html>
