<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
   	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">

	<title>Question Room</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Custom styles for this template -->
	<link href="css/cover.css" rel="stylesheet">
</head>
<body ng-controller="controller">
	<div id="siteWrapper">
		<div id="contentWrapper">
			<div class="content" id="home">
				Feel bored in class? <br />
				Enter a room name to join disucssion
				<br /><br />
				<form name="form" ng-submit="join()" role="search">
					<input type="text" name="input" class="form-control"
						ng-model="example.text"
						ng-pattern="example.word" required
						ng-trim="false"
						autofocus
						aria-describedby="sizing-addon1"
						placeholder="Enter room name">
				</form>
				<div class="warning" role="alert" ng-show="form.input.$error.required">
					Room name is required!
				</div>
				<div class="warning" role="alert" ng-show="form.input.$error.pattern">
					Room name must be a single English word!
				</div>
				<br />
				<div align="right">
					<button type="button" class="btn btn-success btn-primary btn-lg" 
						ng-disabled="form.input.$error.required || form.input.$error.pattern"
						ng-click="join()">JOIN</button>
					<button type="button" class="btn btn-warning btn-primary btn-lg" style="margin-left:20px;" onclick="showRoomList()">Take a look at existing room ?</button>
				</div>
			</div>
			<div class="content" id="room" ng-controller="roomController" scroll data-framework="firebase">
				Click one to join one of the current discussion.
				<div id="roomTable">
				</div>
			</div>
			<div class="content" id="feature">
				<div>
					<img src="css/images/info.png" width="100%" />
				</div>
			</div>
			
		</div>
		<div id="logo">
			<img id="logo" src="css/images/logo4.png" width="300px" />
		</div>
		
		<div id="navWrapper">
			<div>
				<div class="navCircle">
					<a href="#" id="navHome" class="navOption">HOME</a>
				</div>
				<div class="navCircle">
					<a href="#" id="navRoom" class="navOption">ROOM</a>
				</div>
				<div class="navCircle">
					<a href="#" id="navFeature" class="navOption">FEATURES</a>
				</div>
			</div>
		</div>
	</div>
	<div id="eraser">
		<img src="css/images/eraser.png" width="120px" height="120px" />
	</div>
	
	
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/lib/jquery.min.js"></script>
	<script src="js/lib/bootstrap.min.js"></script>
	<!-- 1.4.2 -->
	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/angularfire.js"></script>
	<script src="js/lib/firebase.js"></script>
	<script>
		var app = angular.module('app', ["firebase"]);
		app.controller('controller', ['$scope', '$location', '$window', function($scope, $location, $window) {
			$scope.example = {
					text: '',
					word: /^\s*\w*\s*$/
			};

			$scope.join = function () {
				$window.location.href = 'question.html#/' + $scope.example.text;
			}
			
			var url = "https://flickering-torch-4928.firebaseIO.com";
			var echoRef = new Firebase(url);
			
			
		}]);
		
		
		// room list
		// var app = angular.module('app',["firebase"]);
		app.controller('roomController',['$scope','$firebaseArray',function($scope,$firebaseArray)
		{
			var url = "https://flickering-torch-4928.firebaseIO.com";
			var echoRef = new Firebase(url);
			/*
			var query = echoRef.orderByChild("true"); //The parameter does not exist so it will display all child in alphabetical order
			var rooms = $firebaseArray(query);
			*/
			echoRef.on('value', function(data){
				var table = document.getElementById("roomTable");
				var i = 0;
				data.forEach(function(room){
					
					var element = document.createElement("div");
					element.innerHTML = '<a href="question.html#/'+room.key()+'">'+room.key()+'</a>';
					table.appendChild(element);
					i++;
					/*
					var row = table.insertRow(i);
					//row.insertCell(0).innerHTML = '<a href="http://q.comp3111.xyz/question.html#/'+room.key()+'" style="color:black; padding:30px 30px 10px 10px;" class="list-group-item list-group-item-info">'+room.key()+'</a>';
					row.insertCell(0).innerHTML = '<a href="http://q.comp3111.xyz/question.html#/'+room.key()+'">'+room.key()+'</a>';
					i++;
					*/
				});
				//$scope.rooms = rooms;
			});
			
			
		}]);
		
		
		
		function showRoomList(){
			$('#navRoom').click();
		}
	</script>
	<script>
		$(function(){
			// initial animation
			$(window).on("load", function(){
				setTimeout(function(){
					$('#contentWrapper').animate({height: '75%'}, 1000);
					$('#logo').animate({left: '15%'}, 1000);
					$('.navCircle').animate({opacity: '1'}, 1000);
				}, 1000);
				setTimeout(function(){
					$('#home').animate({opacity: '1'}, 1000);;
				}, 2000);
			});
			
			// navigation
			$('.navOption').on('click', function(){
				var trigger = this.id;
				setTimeout(function(){
					$('.content').animate({opacity: '0'}, 500);
					$('.content').css('display', 'none');
				}, 2000);
				$('#eraser').animate({bottom: '40%'}, 300);
				$('#eraser').animate({right: '60%'}, 300);
				$('#eraser').animate({right: '25%', bottom: '35%'}, 300);
				$('#eraser').animate({right: '60%', bottom: '30%'}, 300);
				$('#eraser').animate({right: '25%', bottom: '25%'}, 300);
				$('#eraser').animate({right: '60%', bottom: '20%'}, 300);
				$('#eraser').animate({right: '25%', bottom: '15%'}, 300);
				$('#eraser').animate({right: '60%', bottom: '10%'}, 300);
				$('#eraser').animate({right: '10%', bottom: '10%'}, 300);
				setTimeout(function(){
					$('#eraser').animate({right: '10%', bottom: '5%'}, 400);
				}, 300);
				setTimeout(function(){
					switch (trigger)
					{
					case "navHome": 
						$('#home').css('display', 'block');
						$('#home').animate({opacity: '1'}, 500);
						break;
					case "navRoom":
						$('#room').css('display', 'block');
						$('#room').animate({opacity: '1'}, 500);
						break;
					case "navFeature":
						$('#feature').css('display', 'block');
						$('#feature').animate({opacity: '1'}, 500);
						break;
					}
				}, 3000);
				
			});
		});
	</script>
	<script>
	/*
		// administrator related
		$('#submitLogin').on('click', function(){
			var userName = $('#userName').val();
			var pw = $('#userPassword').val();
			
			var url = "https://flickering-torch-4928.firebaseIO.com";
			var ref = new Firebase(url);
			ref.authWithPassword({
				email    : userName,
				password : pw
			}, function(error, authData) { 
				if (error === null){
					alert(authData.password.email.toString() + "login success");
					$('#adminLogin').append(authData.password.email.toString());
					$scope.$authData = authData;
					$scope.isAdmin = true;
				}
				else
					alert(error);
			}, {
				remember: "sessionOnly"
			});
			
		});
		
		$('#adminLogoiut').on('click', function(){
			ref.unauth();
		});
		*/
	</script>
	
</body>
</html>
