<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
   	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">

	<title>Question Room</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Custom styles for this template -->
	<link href="css/cover.css" rel="stylesheet">
</head>
<body ng-controller="controller">
	<div class="site-wrapper" onclick="hideRoomList();">
		<div class="roomForm">
			<div align="center">
				<img src="css/images/logo.png" width="250px" style="margin-left:auto;margin-right:auto;"/>
			</div>
			<div>
				<form name="form" ng-submit="join()" role="search">
					<input type="text" name="input" class="form-control"
						ng-model="example.text"
						ng-pattern="example.word" required
						ng-trim="false"
						autofocus
						aria-describedby="sizing-addon1"
						placeholder="Enter room name">
					<div class="warning" role="alert" ng-show="form.input.$error.required">
						Room name is required!
					</div>
					<div class="warning" role="alert" ng-show="form.input.$error.pattern">
						Room name must be a single English word!
					</div>
				</form>
				<div style="margin-top:30px;float:right;">
					<button type="button" class="btn btn-success btn-primary btn-lg" 
						ng-disabled="form.input.$error.required || form.input.$error.pattern"
						ng-click="join()">JOIN</button>
					<button type="button" class="btn btn-warning btn-primary btn-lg" style="margin-left:20px;" onclick="showRoomList()">Take a look at existing room ?</button>
				</div>
			</div>
		</div>
		<div class="notice">
			<a href="#""><img id="feature" src="css/images/notice-feature.png" width="250px;" onmouseover="noticeOnHover(this.id)" onmouseout="noticeOnLeft(this.id)" /></a>
			<br />
			<a href="#"><img id="admin" src="css/images/notice-admin.png" width="250px" onmouseover="noticeOnHover(this.id)" onmouseout="noticeOnLeft(this.id)" /></a>
		</div>
		
		<div id="roomListTag">
			<a href="#"><img src="css/images/rmlistTag.png" width="100px" onclick="showRoomList()" /></a>
		</div>
		
		<div id="roomList" ng-controller="roomController" scroll data-framework="firebase">
			
			<div id="roomTable">
			</div>
			<!--
			<table id="roomTable">
			</table>
			-->
		</div>
		
		<!--
		<div class="info">
			<img src="css/images/info.png" width="660px" />
			<div style="margin-top:30px">
				<input type="text" class="form-control" placeholder="Enter room name" />
				<div style="margin-top:30px;float:right;">
					<button type="button" class="btn btn-success btn-primary btn-lg disabled">JOIN</button>
					<button type="button" class="btn btn-warning btn-primary btn-lg" style="margin-left:20px;">Take a look at existing room ?</button>
				</div>
			</div>
		</div>
		-->
		<div class="lowerBanner">
			<p style="margin-right:50px;">Created by <span style="color:red">#StupidFace</span> @HKUST</p>
			<p style="margin-right:50px;">cover photo from Google Classroom</p>
		<div>
	</div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/lib/jquery.min.js"></script>
	<script src="js/lib/bootstrap.min.js"></script>
	<!-- 1.4.2 -->
	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/angularfire.js"></script>
	<script src="js/lib/firebase.js"></script>
	<script>
		var app = angular.module('app', ["firebase"]);
		app.controller('controller', ['$scope', '$location', '$window', function($scope, $location, $window) {
			$scope.example = {
					text: '',
					word: /^\s*\w*\s*$/
			};

			$scope.join = function () {
				$window.location.href = 'question.html#/' + $scope.example.text;
			}
		}]);
		
		function noticeOnHover(element){
			var source = document.getElementById(element).src;
			source = source.substring(0, source.length-4);
			source += "-hover.png";
			document.getElementById(element).src = source;
		}
		
		function noticeOnLeft(element){
			var source = document.getElementById(element).src;
			source = source.substring(0, source.length-10);
			source += ".png";
			document.getElementById(element).src = source;
		}
		
		function showRoomList(){
			var list = document.getElementById("roomList");
			var animation = setInterval(animate, 10);
			var i = 0;
			function animate(){
				if (i == 72)
					clearInterval(animation);
				list.style.top = -75+(++i)+'%';
			}
		}
		
		function hideRoomList(){
			if (document.getElementById("roomList").style.top == "-2%"){
				
				var list = document.getElementById("roomList");
				var animation = setInterval(animate, 10);
				var i = 0;
				function animate(){
				if (i == 72)
					clearInterval(animation);
				list.style.top = -2-(++i)+'%';
				}
				
			}
		}
		
		// room list
		// var app = angular.module('app',["firebase"]);
		app.controller('roomController',['$scope','$firebaseArray',function($scope,$firebaseArray)
		{
			var url = "https://flickering-torch-4928.firebaseIO.com";
			var echoRef = new Firebase(url);
			/*
			var query = echoRef.orderByChild("true"); //The parameter does not exist so it will display all child in alphabetical order
			var rooms = $firebaseArray(query);
			*/
			
			echoRef.on('value', function(data){
				var table = document.getElementById("roomTable");
				var i = 0;
				data.forEach(function(room){
					
					var element = document.createElement("div");
					element.innerHTML = '<a href="question.html#/'+room.key()+'">'+room.key()+'</a>';
					table.appendChild(element);
					i++;
					if (i < data.numChildren()){
						var line = document.createElement("div");
						line.innerHTML = '<img src=\"css/images/separateLine.png\" width=\"300px\" class=\"separateLine\" />';
						table.appendChild(line);
					}
					/*
					var row = table.insertRow(i);
					//row.insertCell(0).innerHTML = '<a href="http://q.comp3111.xyz/question.html#/'+room.key()+'" style="color:black; padding:30px 30px 10px 10px;" class="list-group-item list-group-item-info">'+room.key()+'</a>';
					row.insertCell(0).innerHTML = '<a href="http://q.comp3111.xyz/question.html#/'+room.key()+'">'+room.key()+'</a>';
					i++;
					*/
				});
				
				//$scope.rooms = rooms;
			});
		}]);
		
	</script>
	
	
</body>
</html>
